name: Build Native

on:
  push:
    paths-ignore:
     - 'README.md'
  pull_request:
    paths-ignore:
     - 'README.md'
  workflow_dispatch:

jobs:
  update-nightly-tag:
    name: Update nightly release tag
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    permissions:
        contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Move nightly tag to head for nightly release
        run: git tag -f nightly && git push origin nightly -f

  matrix:
    name: Build matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: Build matrix from Makefile
        id: set-matrix
        # parse the Makefile to retrieve the list of targets in 'native-all', without 'native'
        run: |
          matrix=$((
            echo '{ "target" : ['
            sed -n "/^native-all *: */ { s///; p }" Makefile | sed "s/^native\s//g" | sed 's/ /, /g' | xargs -n 1 echo | sed -r 's/^([^,]*)(,?)$/"\1"\2/'
            echo " ]}"
          ) | jq -c .)
          echo $matrix | jq .
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  build:
    name: lib
    runs-on: ubuntu-latest
    needs: [matrix]
    strategy:
      matrix: ${{fromJson(needs.matrix.outputs.matrix)}}
    permissions:
        contents: write
    steps:
      - uses: actions/checkout@v6

      # Delete existing libs so we only upload the generated one into the artifact
      - name: Delete existing native libs
        run: rm -fr resources/native

      - name: Build native libraries
        run: make ${{ matrix.target }}
        env:
          OCI_EXE: docker

      - name: rename directory and create artifact zip file
        run: |
         cd ./custom_docker/
         ls -1
         echo ${{ matrix.target }}
         rm -Rf ${{ matrix.target }}/openssl.tar.gz
         zip -r "../openssl-libs-and-includes-${{ matrix.target }}.zip" ${{ matrix.target }}

      - name: Upload native libraries
        uses: actions/upload-artifact@v5
        with:
          name: openssl-libs-and-includes-${{ matrix.target }}
          path: "openssl-libs-and-includes-${{ matrix.target }}.zip"

      - name: Upload to nightly release
        uses: ncipollo/release-action@v1
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        with:
          allowUpdates: true
          tag: nightly
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "openssl-libs-and-includes-${{ matrix.target }}.zip"

      - name: Upload to versioned release
        if: contains(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "openssl-libs-and-includes-${{ matrix.target }}.zip"

